<div class="flex gap-2 items-center">
  <div
    class="w-full flex gap-4 p-4 justify-between items-center hover:bg-gray-100 hover:cursor-pointer"
    (click)="completeTodo()"
  >
    <span [class]="{ 'line-through': todo().completed }">{{
      todo().description
    }}</span>
    <p-checkbox [(ngModel)]="todo().completed" [binary]="true" />
  </div>
  <p-button
    class="mr-2"
    icon="pi pi-trash"
    (click)="todoListService.deleteTodo(todo().id)"
    rounded="true"
    severity="danger"
  />
</div>
