.todo-task {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  & .complete {
    text-decoration-line: line-through;
  }
}
