form {
  margin: 150px auto;
  width: 300px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 0.5rem;
  }

  button {
    margin-top: 1rem;
  }
}
