<main class="main">
  <app-todo-lists
    [todoLists]="todoLists"
    [selectedListId]="selectedListId()"
    (listClicked)="onSelectList($event)"
    (listCreated)="onListCreated($event)"
    (listDeleted)="onListDeleted($event)"
  />
  <div class="divider"></div>
  @if (!!selectedListId()) {
    <div class="container">
      @for (task of tasks; track task.id) {
        <app-todo-task
          [task]="task"
          (removeTodo)="onRemoveTask($event)"
        ></app-todo-task>
      }
      <app-create-todo
        (addTask)="onNewTask($event)"
        [listId]="selectedListId()"
      ></app-create-todo>
    </div>
  }
</main>

<router-outlet />
